In [1]:
import pyodbc
import pandas as pd

**1- Import the "IMDB top 1000_LV.csv" dataset with Python.**

In [2]:
pwd

'C:\\Users\\bunya\\Desktop\\iT\\DataAnalysis\\01-DA_InClass'

In [3]:
df = pd.read_csv("IMDB top 1000_LV.csv")
df.head(2)

,Movie_ID,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Year,Directors,Stars,Votes,Gross($M)
0,1,The Shawshank Redemption,13+,142,Drama,9.3,80,Two imprisoned men bond over a number of years...,1994,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",2377444,28.34
1,2,The Godfather,16,175,"Crime, Drama",9.2,100,An organized crime dynasty's aging patriarch t...,1972,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1646788,134.97

In [4]:
df.shape

(1000, 13)

**2- Create an empty table in a database with Python.**

In [5]:
def create_server_connection(driver, server, database, user, password):
    conn = None
    try:
        conn = pyodbc.connect(DRIVER=driver, SERVER=server, DATABASE=database, UID=user, PWD=password)
        print("Successful!")
    except Error as err:
        print(f"Error: '{err}'")
    return conn

driver = '{ODBC Driver 17 for SQL Server}'
server = 'localhost'
database = 'master'
user = 'Bk'
password = 'Abc123'
conn = create_server_connection(driver, server, database, user, password)

NameError: name 'Error' is not defined

In [ ]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"

In [ ]:
conn = pyodbc.connect(conn_string);

In [ ]:
crs = conn.cursor()

In [ ]:
conn.autocommit = True

In [ ]:
def create_database(conn, create_database_query):
    crs = conn.cursor()
    try:
        crs.execute(create_database_query)
        print("Database is created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
create_database_query = 'CREATE DATABASE Test_DB'
create_database(conn, create_database_query)

In [ ]:
def execute_query(conn, query):
    crs = conn.cursor()
    try:
        crs.execute(query)
        conn.commit()
        print("Query successful!")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
query = 'USE Test_DB'
execute_query(conn, query)

In [ ]:
query = """
        CREATE TABLE imdb (
            Movie_ID INTEGER primary key,
            Title VARCHAR(255) NOT NULL,
            Certificate VARCHAR(255) NOT NULL,
            Duration INTEGER NOT NULL,
            Genre VARCHAR(255) NOT NULL,
            Rate FLOAT NOT NULL,
            Metascore INTEGER,
            Description VARCHAR(4096) NOT NULL,
            Year INTEGER NOT NULL,
            Directors VARCHAR(255) NOT NULL,
            Stars VARCHAR(255) NOT NULL,
            Votes INTEGER,
            Gross FLOAT
        )
        """
execute_query(conn, query)

**3- Insert the "IMDB top 1000_LV.csv" dataset into the database with Python.**

In [ ]:
records = df.to_dict('records')

In [ ]:
records

In [ ]:
#for k,v in enumerate(records, start = 1):
 #   print(k,v)

In [ ]:
#crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Bruce', 'Lee')

In [ ]:
sql = 'INSERT imdb VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?)'

In [ ]:
for k,v in enumerate(records, start = 1):
    crs.execute(sql, (k, v['Title'], v['Certificate'], v['Duration'], v['Genre'], v['Rate'], v['Metascore'],v['Description'], v['Year'], v['Directors'], v['Stars'], v['Votes'], v['Gross($M)']))

**4- With Python and related sql queries from the database:**

<br>- Find number of movies
<br>- Find the highest rated movie
<br>- Find the second highest rated movie
<br>- Find the number of movies produced before 2000
<br>- Find the average gross of the movies by years.
<br>- Find the total number of movies by years.
<br>- Draw the frequency graph of the film ratings.
<br>- Find the top 10 movies with the highest gross and visualize them with a bar chart.
<br>- Find the total groos of the movies directed Peter Jackson.
<br>- Find the most popular star & most popular director and the number of movies they have included

In [ ]:
df1= pd.read_sql("select top 10 * from imdb;", con = conn)

In [ ]:
df1

In [ ]:
# Find number of movies

query_1 = "SELECT COUNT(*) FROM imdb;"

crs.execute(query_1).fetchone()[0]

In [ ]:
# --Find the highest rated movie
query_2 = "SELECT TOP 1 Title, Rate FROM imdb ORDER BY Rate DESC;"

crs.execute(query_2)
highest_rated = crs.fetchone()

In [ ]:
highest_rated

In [ ]:
highest_rated[0]

In [ ]:
highest_rated[1]

In [ ]:
print(f"Highest_rated_movie:{highest_rated[0]} ({highest_rated[1]} Rated)")

In [ ]:
# --Find the second highest rated movie
query_3 = """SELECT * 
             FROM    (SELECT Title, Rate, ROW_NUMBER() OVER (ORDER BY Rate DESC) ROWNUM FROM imdb) A
             WHERE ROWNUM = 2
            """

crs.execute(query_3)
second_highest_rated = crs.fetchall()[0]
second_highest_rated_movie = f"{second_highest_rated[0]}({second_highest_rated[1]} Rated)"
print('second_highest_rated_movie:',second_highest_rated_movie)

In [ ]:
# --Find the number of movies produced before 2000

query_4 ="SELECT COUNT(Movie_ID) FROM imdb WHERE Year<2000;"
crs.execute(query_4)
before_2000= crs.fetchall()[0][0]
print("the number of movies produced before 2000:",before_2000)

In [ ]:
crs.execute(query_4).fetchall()[0][0]