In [31]:
import pandas as pd
from scipy import stats
import numpy as np
import scipy

## One Sample T Test

- According to Reynolds Intellectual Ability Scales, the average VIQ (Verbal IQ scores based on the four Wechsler (1981) subtests) is about 109.

- In our sample data, we have a sample of 40 cases. 
- Let's test if the average VIQ of people is significantly bigger than 109.

In [34]:
# Brain size and weight and IQ data (Willerman et al. 1991)
df = pd.read_csv("brain_size.csv", sep = ";", na_values = ".", index_col=0 )

In [35]:
df.head(2)

   Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
1  Female   133  132  124   118.0    64.5     816932
2    Male   140  150  124     NaN    72.5    1001121

In [36]:
# H0: mu0 = 109
#  H1: mu1 > 109

In [37]:
df["VIQ"].mean()

112.35

In [38]:
df["VIQ"].std()

23.616107063199735

In [39]:
t_test_stats = (df["VIQ"].mean() - 109) / (df["VIQ"].std()/np.sqrt(df.shape[0]))
t_test_stats # = test istatistiği

0.8971529586323553

In [40]:
1 - stats.t.cdf(0.897152958632355, 39) # = p value

0.18757115929257173

In [41]:
oneSamp = stats.ttest_1samp(df["VIQ"], 109, alternative="greater")

In [42]:
alpha = 0.05
if oneSamp.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

In [43]:
print(scipy.__version__)

1.6.2

# Independent Samples T Test

## Arsenic Example

- Arsenic concentration in public drinking water supplies is a potential health risk. 
- An article in the Arizona Republic (May 27, 2001) reported drinking water arsenic concentrations in parts per billion (ppb) for 10 metropolitan Phoenix communities and 10 communities in rural Arizona.
- You can find the data in CSV file.

In [77]:
df1 = pd.read_csv("arsenic.csv") # parantez içine git hub dan raw data linki konulabilir
df1.head()

  Metro Phoenix  x1    Rural Arizona  x2
0       Phoenix   3          Rimrock  48
1      Chandler   7         Goodyear  44
2       Gilbert  25        New River  40
3      Glendale  10  Apache Junction  38
4          Mesa  15          Buckeye  33

In [78]:
df1["x1"].mean()

12.5

In [79]:
df1["x2"].mean()

27.5

Calculate the T-test for the means of two independent samples of scores.

In [80]:
#  H0: mu1 = mu2
#  H1: mu1 != mu2

In [81]:
indep_test = stats.ttest_ind(df1["x1"], df1["x2"])

In [82]:
indep_test.statistic

-2.7669395785560553

In [83]:
indep_test.pvalue

0.012704425122128032

In [84]:
alpha = 0.05
if indep_test.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

In [85]:
stats.t.ppf(0.025, 18)

-2.10092204024096

# Paired ttest

# Prozac Data

- Let us consider a simple example of what is often termed "pre/post" data or "pretest/posttest" data. 
- Suppose you wish to test the effect of Prozac on the well-being of depressed individuals, using a standardised "well-being scale" that sums Likert-type items to obtain a score that could range from 0 to 20. 
- Higher scores indicate greater well-being (that is, Prozac is having a positive effect). 
- While there are flaws in this design (e.g., lack of a control group) it will serve as an example of how to analyse such data.

Determine if Prozac enhances well-being in depressed individuals. Use   0.05

In [86]:
df2 = pd.read_csv("prozac.csv") # parantez içine git hub dan raw data linki konulabilir
df2.head()

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6

In [88]:
# H0 = d_bar = 0
# H1 = d_bar > 1

In [98]:
paired = stats.ttest_rel(df2["moodpost"], df2["moodpre"], alternative = "greater")

In [99]:
paired.pvalue

0.006872912197394244

In [100]:
alpha = 0.05
if paired.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null